body {
    background: rgb(47, 62, 71);
}

aside {
    float: left;
    color: #fff;
    border-right: 5px solid #0f0707;
    background: #384042;
    width: 15%;
    height: 100vh;
    font-size: 24px;
}

aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
}
aside ul li {
    height: 45px;
    text-align: left;
}


main {
    float: left;
    color: #fff;
    text-align: left;
    width: 100%;
    height: 75px;
}

main .container-fluid {
    text-align: center;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid #000;
    background-color: rgb(34, 34, 47); 
}

main .container-fluid h1 {
    font-size: 60px;
}

main span {
    display: inline-block;
    box-shadow: 0 0 25px rgb(0,0,0); /* Параметры тени */
    margin-left: 50px;
    margin-top: 15px
}

main table {
    float: left;
    clear: both;
    width: 450px;
    text-align: left;
}

table {
    font-family: Comic Sans MS;
    border-collapse: collapse;
    letter-spacing: 1px;
    color: white;
    font-size: 15px;
}

div h1 {
    margin-left: 55px;
    font-size: 40px;
}

#center { 
    text-align: center;
    background-color: rgb(23, 48, 66); 
    margin: 0px;
    height: 60px;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
    margin-left: 280px;
    font-size: 20px;
}

td, th {
    border: 1px solid #fff;
    padding: 10px 10px;
}

td {
    font-size: 15px;
    text-align: center;
}

.red_text {
     color: red; /* Красный цвет выделения */
}



.green_text {
    color: #00ff00; /* Красный цвет выделения */
}

#watch {
    margin-left: 810px;
    width: 300px;
    height: 100%;
    text-align: center;
    background-color:rgb(23, 48, 66);
    color:#ffffff;
    font-size: 50px;
}


.nav-item:hover {
    background-color: #000000;
}
  
.nav-item:active {
    background-color: #000000;
    transform: translateY(2px);
}

.nav-item.active {
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(23, 48, 66); /* Цвет фона для активного элемента */
    border: 1px solid #0f0707;
}
