body {
    background: rgb(47, 62, 71);
}

aside {
    float: left;
    color: #fff;
    border-right: 2px solid #0f0707;
    background: #384042;
    width: 15%;
    padding: 2%;
    height: 100vh;
    font-size: 25px;
}

aside ul {
    list-style: none;
}
aside ul li {
    margin-top: 10px;
}

main {
    float: left;
    color: #fff;
    text-align: left;
    width: 80%;
    height: 100vh;
}

main .features {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 85vw;
    padding-bottom: 20px;
    border-bottom: 3px solid #000;
}

main .features h1 {
    font-size: 60px;
}

main span {
    display: inline-block;
    box-shadow: 0 0 25px rgb(0,0,0); /* Параметры тени */
    margin-left: 50px;
    margin-top: 15px
}

main table {
    float: left;
    clear: both;
    width: 450px;
    text-align: left;
}

table {
    font-family: Comic Sans MS;
    border-collapse: collapse;
    border: 3px solid #fff;
    letter-spacing: 1px;
    color: white;
    font-size: 15px;
}

#center { 
    text-align: center;
    background-color: rgb(23, 48, 66); 
}

td, th {
    border: 1px solid #fff;
    padding: 10px 10px;
}

td {
    font-size: 15px;
    text-align: center;
}

.red_text {
     color: red; /* Красный цвет выделения */
}



.green_text {
    color: rgb(0, 255, 0); /* Красный цвет выделения */
}