{% extends "main/layout.html" %}

{% block content %}

{% endblock  %}

{% block  title %}Главная{% endblock  %}

{% block header %}
    <h1 id="current-time"></h1>
    <script>
    function updateTime() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        document.getElementById('current-time').textContent = `${hours}:${minutes}:${seconds}`;
    }

    updateTime(); // Вызов функции сразу для отображения времени при загрузке страницы
    setInterval(updateTime, 1000); // Обновление времени каждую секунду
    </script>
{% endblock %}