{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock  %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "main/css/main.css"%}?{% now "U" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
    <body>
      <main>
        <header class='container-fluid'>
          {% block header %}
          {% endblock %}
        </header>
        <aside>
          <ul>
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
              <a class="nav-link" href="{% url "home" %}" style="margin-left: 45px;">
                <i class="fa fa-home" style="margin-right: 15px"></i>Главная</a>
            </li>
            <li class="nav-item {% if request.path == '/monitor' %}active{% endif %}">
              <a class="nav-link" href="{% url "monitor_page" %}" style="margin-left: 45px">
                <i class="fas fa-chart-line" style="margin-right: 15px"></i>Мониторинг</a>
            </li>
            <li class="nav-item {% if request.path == '/stream/100' %}active{% endif %}">
              <a class="nav-link" href="{% url "100" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 100</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "201" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 201</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "203" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 203</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "205" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 205</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "208" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 208</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "212" %}" style="margin-left: 45px">
                <i class="fa fa-desktop" style="margin-right: 15px"></i>Камера 212</a>
            </li>
          </ul>
        </aside>
        {% block content %}
        {% endblock  %}
      </main>
    </body>
</html>