{% extends "main/layout.html" %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <div id='center' style="border-bottom: 3px solid #000; text-align: left;">
        <h1><i class="fa-solid fa-tv" style="margin-right: 20px; font-size: 30px;"></i>Вакуумные камеры «Технология»<h1>
    </div>
    {% csrf_token %}
    <div id="tables">
    </div>
    <script>
      $(document).ready(function(){
          setInterval(function()
          {
        $.ajax({
            type: "GET",
            url: "{% url "get_updates" %}",
            success: function(response){
              $("#tables").empty();
              for ([chamber_id, chamber] of Object.entries(response["chambers"]))
              {
                temp = "<span><table style='border: 2px solid"
                if (chamber.chamber_status == "Status.NORMAL") {
                  temp += "#0f0;'><thead><tr><th scope='col' colspan='4'- id='center'>"
                }
                else {
                  temp += "#f00;'><thead><tr><th scope='col' colspan='4'- id='center'>"
                }
                temp += chamber.chamber_name+" "+chamber.chamber_type+"</th></tr></thead><tbody><tr><th scope='row' ><i class='fa-solid fa-calendar-days' style='margin-right: 10px; margin-left: 10px'></i>Дата и время:</th><td colspan='3'>"+chamber.date+' '+chamber.time
                  +"</td></tr><tr><th scope='row'><i class='fa-solid fa-battery-three-quarters' style='margin-right: 10px; margin-left: 10px'></i>Давление:</th><td>"
                floor = Math.floor;
                if ((floor(chamber.current_vacuum)>floor(chamber.set_vacuum)+5.0) || (floor(chamber.current_vacuum)<floor(chamber.set_vacuum)-5.0)) {
                  temp += "<div class='red_text'>"+chamber.current_vacuum+"/"+chamber.set_vacuum+"</div>"
                } else {
                  temp += "<div class='green_text'>"+chamber.current_vacuum+"/"+chamber.set_vacuum+"</div>"
                }
                temp +="</td></tr><tr><th scope='row'><i class='fa-solid fa-temperature-full' style='margin-right: 10px; margin-left: 10px'></i>Температура:</th><td>"
                if ((floor(chamber.current_temperature)>floor(chamber.set_temperature)+5.0) || (floor(chamber.current_temperature)<floor(chamber.set_temperature)-5.0)) {
                  temp += "<div class='red_text'>"+chamber.current_temperature+"/"+chamber.set_temperature+"</div>"
                } else {
                  temp += "<div class='green_text'>"+chamber.current_temperature+"/"+chamber.set_temperature+"</div>"
                }
                temp +="<tr><th scope='row' ><i class='fa-solid fa-sliders' style='margin-right: 10px; margin-left: 10px'></i>Состояние агрегатов:</th><td colspan='3'>"+'<i class="fa-solid fa-gears" '
                if (chamber.fore_pump == "true") {
                  temp += "style='margin-right: 15px; color: #00ff00;'></i>"
                }
                else {
                  temp += "style='margin-right: 15px; color: #ff0000;'></i>"
                }
                temp+='<i class="fa-solid fa-gear" '
                if (chamber.turbo_pump == "true") {
                  temp += "style='margin-right: 15px; color: #00ff00;'></i>"
                }
                else {
                  temp += "style='margin-right: 15px; color: #ff0000;'></i>"
                }
                temp+='<i class="fa-solid fa-temperature-empty" '
                if (chamber.temp_regul == "true") {
                  temp += "style='margin-right: 15px; color: #00ff00;'></i>"
                }
                else {
                  temp += "style='margin-right: 15px; color: #ff0000;'></i>"
                }
                temp+='<i class="far fa-caret-square-up" '
                if (chamber.pres_regul == "true") {
                  temp += "style='margin-right: 15px; color: #00ff00;'></i>"
                }
                else {
                  temp += "style='margin-right: 15px; color: #ff0000;'></i>"
                }
                temp += "</td></tr></tbody></table></span>";
                $("#tables").append(temp);
              }
            },
            error: function(response){
                alert("ERROR");
            }
        });
          }, 1000);
      });
    </script>
{% endblock  %}

{% block header %}
  <h1 id="current-time"></h1>
  <script>
    function updateTime() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        document.getElementById('current-time').textContent = `${hours}:${minutes}:${seconds}`;
    }

    updateTime(); // Вызов функции сразу для отображения времени при загрузке страницы
    setInterval(updateTime, 1000); // Обновление времени каждую секунду
  </script>
{% endblock %}

{% block  title %}Мониторинг камер{% endblock  %}